<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "img/NeptuneioLogoTransparentBkg300By300.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

      {{! Everything else gets inserted here }}
      {{{body}}}


      {{! Mailchimp email subscription here}}

      <div class="email-subscription">
        <form class="form-wrapper cf" action="//neptune.us11.list-manage.com/subscribe/post?u=ed0a8eccb382bbf39b72fa8e5&amp;id=531b3838a7" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate >
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_ed0a8eccb382bbf39b72fa8e5_531b3838a7" tabindex="-1" value=""></div>
          <input type="email" value="" name="EMAIL" placeholder="Email address">
          <button type="submit" value="Subscribe" name="subscribe" style="float:right;" >Subscribe</button>
        </form>
      </div>

    </div>


    <footer class="site-footer clearfix">
      <section class="neptuneio-footer-section">
        <a href="https://www.neptune.io">NEPTUNE.IO</a> &copy; {{date format="YYYY"}}
        <a href="https://www.neptune.io/features.html">FEATURES</a>
        <a href="https://www.neptune.io/index.html#pricing">PRICING</a> 
        <a href="https://www.neptune.io/aboutUs.html">ABOUT US </a>
        <a href="https://www.neptune.io/demo">DEMO</a>
        <a href="https://www.neptune.io/account/signup">SIGN UP</a>
        <a href="https://www.neptune.io/account/login">LOGIN</a>
      </section>
    </footer>

  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  {{! The main JavaScript file for Casper }}
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
