<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "img/favicon-200px.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

      {{! Everything else gets inserted here }}
      {{{body}}}


      {{! Mailchimp email subscription here}}

     <div class="email-subscription">
        <div class="neptuneio-subscribe-message">Subscribe to get DevOps best practices delivered to you directly</div>
        <form class="neptuneio-form-wrapper cf" action="//neptune.us11.list-manage.com/subscribe/post?u=ed0a8eccb382bbf39b72fa8e5&amp;id=531b3838a7" method="post" name="mc-embedded-subscribe-form" target="_blank" validate >
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_ed0a8eccb382bbf39b72fa8e5_531b3838a7" tabindex="-1" value=""></div>
          <input type="email" value="" name="EMAIL" placeholder="Email address">
          <button class="fa fa-paper-plane neptuneio-newsletter-button" type="submit" value="Subscribe" name="subscribe"></button>
        </form>
      </div>

    </div>

    <footer class="site-footer clearfix">
      <section class="neptuneio-footer-section">
        &copy; {{date format="YYYY"}}
        <a href="https://www.neptune.io/index.html?utm_source=Neptune_blog&amp;utm_medium=Blog&amp;utm_term=Incident%20resolution%2C%20auto-remediation%2C%20self-healing&amp;utm_campaign=Generic_Neptune_blog">NEPTUNE.IO</a>
        <a href="http://blog.neptune.io">BLOG</a>
        <a href="https://twitter.com/neptuneio">TWITTER</a>
        <a href="https://www.neptune.io/features.html?utm_source=Neptune_blog&amp;utm_medium=Blog&amp;utm_term=Incident%20resolution%2C%20auto-remediation%2C%20self-healing&amp;utm_campaign=Generic_Neptune_blog">FEATURES</a>
        <a href="https://www.neptune.io/pricing.html?utm_source=Neptune_blog&amp;utm_medium=Blog&amp;utm_term=Incident%20resolution%2C%20auto-remediation%2C%20self-healing&amp;utm_campaign=Generic_Neptune_blog">PRICING</a> 
        <a href="https://www.neptune.io/aboutUs.html?utm_source=Neptune_blog&amp;utm_medium=Blog&amp;utm_term=Incident%20resolution%2C%20auto-remediation%2C%20self-healing&amp;utm_campaign=Generic_Neptune_blog">ABOUT US </a>
        <a href="https://www.neptune.io/account/signup?utm_source=Neptune_blog&amp;utm_medium=Blog&amp;utm_term=Incident%20resolution%2C%20auto-remediation%2C%20self-healing&amp;utm_campaign=Generic_Neptune_blog">SIGN UP</a>
        <a href="https://www.neptune.io/account/login?utm_source=Neptune_blog&amp;utm_medium=Blog&amp;utm_term=Incident%20resolution%2C%20auto-remediation%2C%20self-healing&amp;utm_campaign=Generic_Neptune_blog">LOGIN</a>
      </section>
    </footer>

  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  {{! The main JavaScript file for Casper }}
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

  {{! Disqus}}
  <script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'neptuneioblog'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
   var s = document.createElement('script'); s.async = true;
   s.type = 'text/javascript';
   s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
   (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
  </script>

</body>
</html>
